.CodeCracker {
  max-width: 400px;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  border-style:solid;
  border-width: 3px;
  .file-container {
    background: white;
    border: grey solid 2px;
    width: calc(100% - 12px);
    margin-bottom: 6px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 10px;
    background: #c0c0c0;
  }

  h2{
    font-size: 30px;
    margin-top: 25px;
  }

  input{
    width: 100%;
    max-width: 70%;
    height: 50px;

font-size: 30px;
text-align: center;
  }

  .number-row{
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .number-button{
    height: 60px;
    width: 60px;
    background: transparent;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .go{
    background: transparent;
    height: 60px;
    width: 100px;
    font-size: 30px;
    margin-bottom: 25px;
  }

  .link{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
