main{
    height: 100vh;
    background:white;
    background: url(../Media//crtz-bg.webp.crdownload);
    background-size: cover;
    background-position: center;
    
}

.folder-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin-left: 20px;
    position: relative;
    margin-bottom: 20px;
    padding-top: 10px;
}