.FileWindow {
  height: fit-content;
 width: fit-content;
  
  background: #c0c0c0;
  border-color: #ffffff #808080 #808080 #ffffff;
  border-style: solid;
  border-width: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;

  .header {
    width: 100%;
    background: #010180;
    color: white;
    text-align: left;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    justify-content: space-between;
  }

  .header-right {
    display: flex;
  }

  .header-close {
    background: #c0c0c0;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }

  .file-container {
    background: white;
    border: grey solid 2px;
    width: calc(100% - 12px);
    margin-bottom: 6px;
    flex: 1;
    display: flex;
    align-items: flex-start;
    padding: 12px;
    gap: 10px;
  }
}

.icon-name-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// Notes

.DiscountCodes {
  height: 100%;
  width: fit-content;
}

// Picture Viewer
.file-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
